.main {
  display: flex;
}
.App {
  margin: 1rem;
}
button {
  border: none;
}
.btn-sidebar svg,
.btn-closeSidebar svg,
.btn-modal {
  font-size: x-large;
  color: rgb(108, 77, 182);
}
h3 {
  margin-bottom: 0 !important;
  color: #054b60d6;
}
.btn-sidebar svg:hover,
.btn-closeSidebar svg:hover,
.btn-modal:hover {
  color: rgb(67, 44, 121);
}
.btn-modal {
  margin: 0 auto;
  text-align: center;
}
.disabled {
  pointer-events: none;
  cursor: not-allowed;
}
/* #region Sidebar*/

.sidebar {
  background-color: #fff;
  width: 18rem;
  position: absolute;
  box-shadow: 5px 0px 15px 0px grey;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all 300ms linear;
  z-index: 3;
  transform: translateX(-100%);
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.single-link,
.social-link {
  color: #353570;
  display: block;
  text-decoration: none;
  padding: 1rem;
}
.social-link {
  display: inline !important;
  font-size: x-large;
  padding: 0.5rem;
}
.link-icon {
  margin-right: 10px;
}
.link-text {
  text-transform: capitalize;
}
/* #endregion */

/* #region Modal */
.modal-sect {
  width: 70vw;
  margin: 3rem auto;
  padding: 1rem;
  box-shadow: 0px 0px 10px 5px lightgrey;
  border-radius: 5px;
  transition: all 200ms linear;
}
.visible {
  transform: scale(1);
}

.hidden {
  transform: scale(0);
}
.modal-body {
  text-align: center;
}
/* #endregion */
