.App {
  margin: 1rem;
  display: flex;
}
button {
  border: none;
}
.btn-sidebar svg,
.btn-modal {
  font-size: x-large;
  color: rgb(108, 77, 182);
}
.btn-sidebar svg:hover,
.btn-modal:hover {
  color: rgb(67, 44, 121);
}
.btn-modal {
  margin: 0 auto;
  text-align: center;
}
